<div>
    <h2>Productos en el carrito<span id="cantidadProductos"></span></h2>
    <ul id="listaProductos"></ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/client.js"></script>
</div>